@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Libre Baskerville', serif;

}


:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
  }

html{
    font-size: 62.5%;
    overflow-x: hidden;
}


body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    padding: 20px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(29, 72, 57);
    z-index: 100;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.right-box{
  height: 80px;
  width: 100%;
 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.left-box{
  height: 80px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: 70px;
}
.left-box .logo{
    font-size: 38px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(8, 221, 245);
}

.right-box .home, .features, .contact, .signin{
    color: rgb(8, 221, 245);
    font-size: 22px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    text-decoration: none;
}

.right-box .btn:hover{
    text-overflow: none;
    text-decoration-color: rgb(248, 244, 244)
}

.right-box .signin{
    height: 40px;
    width: 120px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(7, 247, 247);
    overflow: hidden;
    color: rgb(11, 12, 13);
}

@media (max-width: 828px){
     
.right-box{
    height: 100px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}


section{
    min-height: 100vh;
    padding: 1rem 5% 2rem;
    
}
.contentt{
              /* position: absolute;*/
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;/*changes */
    overflow: hidden;
}
.contentt .description{
    height: 60vh;
    width: 55vw;
     
    display: flex;
   padding: 50px 8% 0;   
}


.desc-contentt{
    max-width: 730px;  
}

.desc-contentt h1{
    font-size: 45px;
    line-height: 1.2;

}
.desc-contentt h3{
    font-size: 35px;
    color: #1743e3;
}
.desc-contentt p{
    font-size: 16px;
    margin: 15px 0 30px;
    font-weight: 500;  
}
.desc-contentt .btne{
    display: inline-block;
    padding: 10px 48px;
    background: #1743e3;
    border: 2px solid #1743e3;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    font-size: 16px;
    color: #eaeaea;
    margin-left: 2px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
}
.btne:hover{
   
    background: transparent;
    color: #17bee3;
}

.slideshow-container{
    width: 550px;
    height: 390px;
    border-radius: 50px;
    transition: .5s;
}
.slideshow-container:hover{
    transform: rotate(15deg);
    box-shadow: 0 60px 80px rgba(192, 234, 235, 0.6), 0 45px 26px rgba(15, 188, 231, 0.97)
}


.slide {
    height: 100%;
    width: 100%; 
    display: none; 
    animation: fadeIn 3s ease-in-out infinite; 
   
   
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50px;
}

@media (max-width: 828px) {
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
   
}

/*our team */
.about{
    height: 600px; /*changes*/
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 60px;
}
.abt-head{
margin-top: 30px; /*added*/
width: 100%;
height: 80px;
display: flex;
align-items: center;
justify-content: center;
}
.abt-head h1{
    font-size: 5rem;
    font-weight: 600;
   /*chnages done*/
}

span{
    color: var(--main-color);
}

.member{
    width: 100%;
    height: 500px; /*changes*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: -10px;
    padding: 40px;
}
.member .fm{
 height: 470px;
 width: 29%;
 border-radius: 30px;
 transition: .5s;
 display: flex;
 flex-direction: column;
 gap: 30px;
 overflow: hidden;
 background-color: var(--bg-color);
}

.member .sm{
 height: 470px;
 width: 29%;
 border-radius: 30px;
 transition: .5s;
 display: flex;
 flex-direction: column;
 gap: 30px;
 overflow: hidden;
 background-color: var(--bg-color);
}
.dev:hover{
    transform: translateY(20px);
    box-shadow: 0px 25px 80px rgba(1, 216, 240, 0.952);
}
.imgg{
    height: 90px;
    width: 100%;
    background-color: var(--text-color);
    object-fit: cover;
    object-position: center; 
}
.imgg img{
    height: 260px;
    width: 100%;
}
.detail{
    margin-top: 160px;/*added*/
   padding-left: 20px;
}
.detail h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(242, 240, 240);
    text-align: start;
}
.detail span{
    color: #00abf0;
}

.detail h4{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(242, 240, 240);
    text-align: start;
}

.detail p{
    font-size: 1.5rem;
    font-weight: 600;   
}

/**/

.social{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    height: 120px;
    width: 100%;
    background-color: var(--bg-color);
    padding-left: 20px;
    }
     
    .social a{
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: .2rem solid var(--main-color);
        border-radius: 50%;
        font-size: 30px;
        color: var(--main-color);
        margin-bottom: 100px;
        z-index: 1;
        overflow: hidden;
        transition: .5s;
    }
    
    .social a:hover{
        color: var(--bg-color);
    }
     
    .social a::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--main-color);
        z-index: -1;
        transition: .5s;
    }
    
    .social a:hover::before{
        width: 100%;
    }

/*feature*/
.feature{
    position: relative;
    height: 1150px;
    width: 100%;
    /*overflow: none;*/
    background-color: var(--second-bg-color);
}

.feature .abt-head{
    margin-top: 75px;/*changes*/
}

 .feature .feature-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
 }
 
 .feature-row .feature-column{
    flex: 1 1 40rem;
 }

 .feature-column .tittle{
    position: absolute;
    top: 190px;
    font-size: 2.5rem;
    margin: 0 0 1.5rem; 
 }
 .feature-column .feature-box{
    border-left: .2rem solid var(--main-color);
    margin-top: 100px;
   
 }
 .feature-box .feature-content{
    position: relative;
    padding-left: 2rem;
 }

 .feature-box .feature-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: rgb(43, 202, 226);
    border-radius: 50%;
 }


 .feature-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius:.6rem;
    margin-bottom: 2rem;
    overflow: hidden;
 } 


 .feature-content .content h3{
    font-size: 2rem;
    color: #00abf0;
 }
 .feature-content .content p{
    font-size: 1.6rem;
    padding-top: .5rem;
 }

 /*footer section*/
 

 
 .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    height: 90px;
    width: 100%;
    background-color: #333;
   
   }
   .footer-text p{
    font-size: 1.6rem;
   
   }
   .footer-icontop a{
    height: 40px;
    width: 40px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
   }
   .footer-icontop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
   }
   .footer-icontop a:hover::before{
    width: 100%;
   }

   .footer-icontop a i{
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
    
   }

   .footer-icontop a:hover i{
    color: var(--main-color);
   }
